.pre {
	font-family: monospace;
	white-space: pre-wrap;
}

.pre, .btn {
	font-size: 14px;
}

/* SYNTAX */

.syntax {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px;
}

.comment {
	background-color: #dcdcdc;
	border-color: #444444;
	color: #444444;
}

.link, .hyperlink {
	background-color: #cceeff;
	border-color: #005885;
	color: #005885;
}

.header {
	font-weight: bold;
}
