.pre {
	font-family: monospace;
	white-space: pre-wrap;
	border: 1px black dashed;
}

.miss {
	color: red;
}

.fix {
	color: green;
}

/* SYNTAX */

.comment {
	color: gray;
}

.link {
	background-color: lightblue;
}

.header {
	font-weight: bold;
}
