<!-- The main container has min-height=100% so the footer gets fixed at the bottom -->
<div class="container d-flex flex-column align-items-stretch min-height-100">
  <header class="flex-shrink-0">
    <app-header></app-header>
  </header>

  <main class="flex-grow-1 flex-shrink-0">
    <div class="container mb-3 mt-3">
      <div class="alert alert-warning text-center" role="alert">
        <strong>Atención</strong>: La versión actual de la herramienta está en estado <strong>beta</strong>, pero es
        estable y los reemplazos que produce son fiables. Para cualquier error que encuentre, o sugerencia de nuevas
        funcionalidades o de usabilidad, no dude en contactar con el <a
          href="https://es.wikipedia.org/wiki/Usuario:Benjavalero" target="_blank">autor de la misma</a>.
      </div>
    </div>

    <app-alert-container></app-alert-container>
    <router-outlet></router-outlet>
  </main>

  <footer role="contentinfo" class="flex-shrink-0 bg-light"></footer>
</div>