<!-- The main container has min-height=100% so the footer gets fixed at the bottom -->
<div class="container d-flex flex-column align-items-stretch min-height-100">
  <header class="flex-shrink-0">
    <app-header></app-header>
  </header>

  <main class="flex-grow-1 flex-shrink-0">
    <app-alert-container></app-alert-container>
    <router-outlet></router-outlet>
  </main>

  <footer role="contentinfo" class="flex-shrink-0 bg-light">
    <div class="row p-2">
      <div class="col">
        <img src="https://tools-static.wmflabs.org/toolforge/banners/Powered-by-Toolforge.png"
          alt="Powered by Toolforge">
      </div>
      <div class="col text-right pt-1">
        <a href="https://github.com/benjavalero/replacer" target="_blank">
          <img src="assets/GitHub-Mark-32px.png" class="m-1" />
        </a>
        <span class="text-secondary">v@project.version@</span></div>
    </div>
  </footer>
</div>
