<div class="card mb-3 mt-3">
  <div class="card-body">
    <h3 class="card-title">Reemplazador de la Wikipedia</h3>
    <p class="card-text pt-3">
      <strong>Replacer</strong>
      es una herramienta en línea cuyo objetivo es proporcionar una interfaz sencilla que ayude a corregir los errores
      ortográficos o de estilo más comunes en Wikipedia.
    </p>
  </div>
</div>

<div *ngIf="isValidUser(); else login">
  <div class="row" *ngIf="hasRightsUser(); else noRightsAlert">
    <div class="col-md-6 col-lg-4 py-1">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h4 class="card-title">Artículo aleatorio</h4>
          <p class="card-text">Revisa todos los posibles reemplazos de un artículo aleatorio.</p>
          <a routerLink="/review/notype" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 py-1">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h4 class="card-title">Lista de reemplazos</h4>
          <p class="card-text">Revisa todos los artículos que contienen un reemplazo en concreto.</p>
          <a routerLink="/review/list" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 py-1">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h4 class="card-title">Reemplazo personalizado</h4>
          <p class="card-text">Revisa todos los artículos que contienen un reemplazo personalizado.</p>
          <a routerLink="/review/custom" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 py-1">
      <div class="card h-100 bg-light">
        <div class="card-body">
          <h4 class="card-title">Estadísticas</h4>
          <p class="card-text">Muestra, entre otras estadísticas, el número de reemplazos indexados y revisados.</p>
          <a routerLink="/stats" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noRightsAlert>
    <app-alert type="danger">
      <p>
        Es necesario ser un usuario
        <a href="https://es.wikipedia.org/wiki/Wikipedia:Autoconfirmados" target="_blank" rel="noopener noreferrer">
          autoconfirmado
        </a>
        para utilizar Replacer.
      </p>
    </app-alert>
  </ng-template>

  <app-alert type="warning" [icon]="true" class="alert-small">
    <p><strong>Usa Replacer de forma responsable</strong></p>
    <p>Tómate tu tiempo y revisa cuidadosamente cada reemplazo en su contexto.</p>
    <p>Hay muchísimos falsos positivos; en caso de duda, elige la opción de guardar sin cambios.</p>
  </app-alert>
</div>

<ng-template #login>
  <app-login></app-login>
</ng-template>
