<div class="card mb-3 mt-3">
  <div class="card-body">
    <h2 class="card-title">Replacer</h2>
    <h3 class="card-subtitle">Reemplazador de la Wikipedia en español</h3>
    <p class="card-text pt-3">
      <strong>Replacer</strong> ayuda a corregir los errores ortográficos y de
      estilo más comunes en la Wikipedia en español.
    </p>
  </div>
</div>

<div class="card-deck">
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Artículo aleatorio</h4>
      <p class="card-text">
        Busca un artículo aleatorio con potenciales reemplazos
      </p>
      <a href="random" class="stretched-link"></a>
    </div>
  </div>
<!--
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Estadísticas</h4>
      <p class="card-text">
        Muestra el número de artículos revisados y otros números relacionados
      </p>
      <a href="stats" class="stretched-link"></a>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Indexación</h4>
      <p class="card-text">Muestra el estado de la última indexación</p>
      <a href="dump" class="stretched-link"></a>
    </div>
  </div>
-->
</div>
