<div class="card mb-3 mt-3">
  <div class="card-body">
    <h2 class="card-title">Replacer</h2>
    <h3 class="card-subtitle">Reemplazador de la Wikipedia en español</h3>
    <p class="card-text pt-3">
      <strong>Replacer</strong> ayuda a corregir los errores ortográficos y de
      estilo más comunes en la Wikipedia en español.
    </p>
  </div>
</div>

<div class="card-deck">
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Artículo aleatorio</h4>
      <p class="card-text">
        Revisa todos los posibles reemplazos de un artículo aleatorio.
      </p>
      <a href="random" class="stretched-link"></a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Lista de reemplazos</h4>
      <p class="card-text">
        Revisa todos los artículos que contienen un reemplazo en concreto.
      </p>
      <a href="replacement" class="stretched-link"></a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title">Reemplazo personalizado</h4>
      <p class="card-text">
        Revisa todos los artículos que contienen un reemplazo personalizado.
      </p>
      <a href="custom" class="stretched-link"></a>
    </div>
  </div>

  <div class="card bg-light" [ngbCollapse]="!admin">
    <div class="card-body">
      <h4 class="card-title">Estadísticas [ADMIN]</h4>
      <p class="card-text">
        Muestra, entre otras estadísticas, el número de reemplazos indexados y revisados.
      </p>
      <a href="stats" class="stretched-link"></a>
    </div>
  </div>

  <div class="card bg-light" [ngbCollapse]="!admin">
    <div class="card-body">
      <h4 class="card-title">Indexación [ADMIN]</h4>
      <p class="card-text">Muestra el estado de la indexación.</p>
      <a href="dump" class="stretched-link"></a>
    </div>
  </div>
</div>