<div *ngIf="authorizationUrl">
  <div class="card mb-3 mt-3">
    <div class="card-body">
      <h2 class="card-title">Replacer de la Wikipedia</h2>
      <p class="card-text pt-3">
        <strong>Replacer</strong>
        es una herramienta en línea cuyo objetivo es proporcionar una interfaz sencilla que ayude a corregir los errores
        ortográficos o de estilo más comunes en Wikipedia.
      </p>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body">
      <p class="card-text">
        Necesita autenticarse en la Wikipedia para guardar los cambios con su usuario.
      </p>
      <a class="btn btn-primary w-100" href="{{ authorizationUrl }}">
        Iniciar sesión</a>
    </div>
  </div>
</div>
