<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--
        - Date: in standard ISO format
        - Level: right justified, minimum length 5, highlighted
        - Thread: left justified, exact length 6
        - Logger: left justified, exact length 30, cyan
        - Language: exact length 2 (only file)
        - User: left justified, minimum length 10 (only file)
        - Message + new line + exception
    -->
    <property name="CONSOLE_LOG_PATTERN" value="%d %clr(%5p) [%6.6t] %clr(%-30.30logger{29}){cyan} : %message%n%wEx"/>
    <property name="FILE_LOG_PATTERN" value="%d %5p [%6.6t] %-30.30logger{29} : %2.2X{lang} %-10X{user} %message%n%wEx"/>
    <property name="LOG_FILE" value="logs/replacer.log"/>
    <property name="LOG_FILE_MAX_SIZE" value="50MB"/>
    <property name="LOG_FILE_MAX_HISTORY" value="30"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <logger name="es.bvalero.replacer" level="DEBUG"/>

    <!-- Production: don't log into stdout -->
    <springProfile name="default">
        <!-- Use shutdownHook so that we can close gracefully and finish the log drain -->
        <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
        <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
            <token>${LOGZ_TOKEN}</token>
            <logzioUrl>https://listener-eu.logz.io:8071</logzioUrl>
            <logzioType>java</logzioType>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="LogzioLogbackAppender"/>
        </root>
    </springProfile>

    <!-- Local development: only log in console -->
    <springProfile name="!default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
