<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Replacer</a>
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isNavCollapsed = !isNavCollapsed"
    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isNavCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="navbar-collapse" [ngbCollapse]="isNavCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/random" (click)="isNavCollapsed = true"
          title="Revisa todos los posibles reemplazos de un artículo aleatorio">Artículo aleatorio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/replacement" (click)="isNavCollapsed = true"
          title="Revisa todos los artículos que contienen un reemplazo en concreto">Lista de reemplazos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/custom" (click)="isNavCollapsed = true"
          title="Revisa todos los artículos que contienen un reemplazo personalizado">Reemplazo personalizado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/stats" [ngbCollapse]="!user.admin"
          (click)="isNavCollapsed = true" title="Muestra el número de reemplazos indexados y revisados">Estadísticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dump" [ngbCollapse]="!user.admin"
          (click)="isNavCollapsed = true" title="Muestra el estado de la indexación">Indexación</a>
      </li>
    </ul>
    <hr />
    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer;" ngbDropdownToggle id="navbarDropdownUser" role="button">
          <em>{{ user.name }} - {{ user.lang || defaultLang }}</em>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownUser" class="dropdown-menu dropdown-menu-right">
          <button ngbDropdownItem (click)="onSelectLang('es')">
            En español (es.wikipedia.org)
          </button>
          <button ngbDropdownItem (click)="onSelectLang('gl')">
            En galego (gl.wikipedia.org)
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
