div#messages {
    width: 50%;
    padding-top: 5%;
}

/* FIXED FOOTER : http://getbootstrap.com/docs/4.1/examples/sticky-footer/ */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 7ex; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7ex; /* Set the fixed height of the footer here */
  line-height: 7ex; /* Vertically center the text there */
}

/* MISPELLINGS */

.pre {
  white-space: pre-wrap;
}

.btn {
  vertical-align: baseline;
}

hr {
  border-top: medium double black;
}

#button-save {
  width: 100%;
}
