<div *ngIf="replacementCountLists.length">
  <h3>Lista de reemplazos</h3>

  <p>
    Las siguientes tablas muestran listas de potenciales errores ortográficos y de estilo, así como el número estimado
    de páginas sin revisar que los contienen.
  </p>

  <div class="container">
    <div class="alert alert-warning text-center" role="alert">
      <strong>Nota</strong>
      : los contadores pueden no estar completamente actualizados.
    </div>
  </div>

  <app-replacement-table
    *ngFor="let replacementCountList of replacementCountLists"
    [type]="replacementCountList.t"
    [replacementCounts]="replacementCountList.l"
  ></app-replacement-table>
</div>
