<div class="container mb-3 mt-3">
  <div class="alert alert-warning text-center" role="alert">
    Por motivos de rendimiento de la aplicación, las estadísticas de reemplazos que se
    presentan a continuación pueden no estar totalmente actualizadas con el contenido actual de los artículos.
  </div>
</div>

<p>La siguiente tabla muestra una lista de los potenciales errores ortográficos (obtenida de la <a
    href="https://es.wikipedia.org/wiki/Wikipedia:Corrector_ortográfico/Listado" target="_blank">propia Wikipedia</a>)
  así como el número de apariciones sin revisar.
</p>

<app-replacement-table></app-replacement-table>