<div *ngIf="misspellings.length">

  <p>La siguiente tabla muestra una lista de los potenciales errores ortográficos (obtenida de la <a
      href="https://es.wikipedia.org/wiki/Wikipedia:Corrector_ortográfico/Listado" target="_blank">propia Wikipedia</a>)
    así como el número de apariciones sin revisar:
  </p>

  <form>
    <div class="form-group mt-4">
      <input class="form-control" type="text" [formControl]="filter"
        placeholder="Filtrar (ignora mayúsculas y acentos)" />
    </div>
  </form>

  <div *ngIf="filteredMisspellings.length">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" appColumnSortable="text" (sort)="onSort($event)">Término</th>
          <th scope="col" appColumnSortable="count" (sort)="onSort($event)">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let misspelling of filteredMisspellings">
          <td class="w-75">
            <a routerLink="/random/{{misspelling.text}}">{{ misspelling.text }}</a>
          </td>
          <td class="w-25">{{ misspelling.count }}</td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
      class="d-flex justify-content-center">
    </ngb-pagination>
  </div>
  <p *ngIf="!filteredMisspellings.length">
    No hay reemplazos que cumplan los filtros de búsqueda.
  </p>

  <div class="container mb-3">
    <div class="alert alert-warning text-center" role="alert">
      <strong>Nota</strong>: las estadísticas que se presentan en la tabla pueden no estar totalmente actualizadas con
      el
      contenido actual de los artículos.
    </div>
  </div>

</div>
