th[appColumnSortable] {
  cursor: pointer;
}

th[appColumnSortable].asc::after {
  content: ' ▲';
}

th[appColumnSortable].desc::after {
  content: ' ▼';
}

a.btn {
  padding: 0 3px;
  line-height: normal;
}
