<h4>{{ type }}</h4>

<div *ngIf="replacementCounts.length">

  <div *ngIf="filtrable" class="form-group mt-4">
    <input class="form-control" type="text" [(ngModel)]="filter"
      placeholder="Filtrar por subtipo (ignora mayúsculas y acentos)" />
  </div>

  <div *ngIf="filteredItems.length">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" appColumnSortable="s" (sort)="onSort($event)">Subtipo</th>
          <th scope="col" appColumnSortable="c" (sort)="onSort($event)">N.º</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems">
          <td class="w-75">
            <a routerLink="/random/{{ type }}/{{ item.s }}">{{ item.s }}</a>
          </td>
          <td class="w-25">{{ item.c }}</td>
        </tr>
      </tbody>
    </table>

    <ngb-pagination *ngIf="paginable && collectionSize > pageSize" [collectionSize]="collectionSize" [(page)]="page"
      [pageSize]="pageSize" [maxSize]="3" class="d-flex justify-content-center"></ngb-pagination>
  </div>
  <p *ngIf="!filteredItems.length">
    No hay reemplazos que cumplan los filtros de búsqueda.
  </p>

</div>