.pre {
  white-space: pre-wrap;
  font-family: monospace;
}

.pre .btn {
  vertical-align: baseline;
}

.btn-outline-primary:hover {
  background-color: lightblue;
  color: #007bff;
}

@media (min-width: 576px) {
  .first-suggestion {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .last-suggestion {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}