<div class="border border-secondary p-2 mt-3 mb-3">

  <div class="pre">{{ textLeft }}<span class="btn"
      [ngClass]="{ 'btn-danger': word === suggestionSelected.text, 'btn-success': word !== suggestionSelected.text }">{{ suggestionSelected.text }}</span>{{ textRight }}
  </div>

  <div class="container mt-3">
    <div class="row">
      <div *ngFor="let suggestion of suggestions; let i = index; let first = first; let last = last"
        class="btn text-left col-sm" [ngClass]="{ 'btn-primary': suggestion === suggestionSelected,
         'btn-outline-primary': suggestion !== suggestionSelected,
         'first-suggestion': first, 'middle-suggestion': !first && !last, 'last-suggestion': last }"
        (click)="onSelectSuggestion(i)">
        {{ suggestion.text }}
        <span *ngIf="suggestion.comment" class="small">({{ suggestion.comment }})</span>
      </div>
    </div>
  </div>

</div>
