<div *ngIf="replacements.length" class="container">
  <nav *ngIf="filteredType" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ filteredType }}</li>
      <li class="breadcrumb-item active">{{ filteredSubtype }}
        &nbsp;<span *ngIf="suggestion">&ndash;&nbsp;{{ suggestion }}</span>
        &nbsp;<span class="badge badge-light"><span class="align-middle">{{ numPending }}</span></span>
      </li>
    </ol>
  </nav>

  <h3>{{ title }}
    <a href="https://{{ lang || defaultLang }}.wikipedia.org/wiki/{{ title }}" target="_blank" class="small">[Abrir en
      Wikipedia]</a>
  </h3>

  <app-edit-snippet *ngFor="let replacement of replacements" [text]="content" [start]="replacement.start"
    [word]="replacement.text" [suggestions]="replacement.suggestions" (fixed)="onFixed($event)">
  </app-edit-snippet>

  <button type="button" class="btn btn-success w-100 mt-3 mb-3 p-3" [disabled]="!fixedCount" (click)="onSaveChanges()">
    Guardar cambios <span class="badge badge-light">{{ fixedCount }}</span>
  </button>

  <button type="button" class="btn btn-success w-100 mb-3" (click)="onSaveNoChanges()">
    Marcar como revisado (sin guardar cambios)
  </button>

</div>
