<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="languages.xml"/>
    <import resource="complete-tags.xml"/>
    <import resource="template-params.xml"/>
    <import resource="person-names.xml"/>
    <import resource="file-spaces.xml"/>
    <import resource="ignorable-templates.xml"/>

</beans>
