.pre {
  white-space: pre-wrap;
  font-family: monospace;
  overflow: scroll;
}

.pre .btn {
  vertical-align: baseline;
}

.btn-outline-primary:hover {
  background-color: lightblue;
  color: #007bff;
}

@media (min-width: 576px) {
  .middle-suggestion {
    border-right: none;
    border-radius: 0;
  }

  .first-suggestion {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .last-suggestion {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 576px) {
  .snippet-modal .modal-content {
    width: 95vw;
  }
}
