<div *ngIf="review.replacements.length" class="container">
  <nav *ngIf="review.options.kind && review.options.subtype" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ typeLabel }}</li>
      <ng-template [ngIf]="!review.options.suggestion">
        <li class="breadcrumb-item">{{ review.options.subtype }}
          &nbsp;<span *ngIf="review.numPending" class="badge badge-light">
            <span class="align-middle">{{ review.numPending }}</span></span>
        </li>
      </ng-template>
      <ng-template [ngIf]="review.options.suggestion">
        <li class="breadcrumb-item">{{ review.options.subtype }}</li>
        <li class="breadcrumb-item">{{ review.options.suggestion }}
          &nbsp;<span *ngIf="review.numPending" class="badge badge-light">
            <span class="align-middle">{{ review.numPending }}</span></span>
        </li>
      </ng-template>
    </ol>
  </nav>

  <h3 id="pageTitle">{{ review.page.title }}
    <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="small">[Abrir en Wikipedia]</a>
    <a href="{{ historyUrl }}" target="_blank" rel="noopener noreferrer" class="small">[Historial]</a>
  </h3>

  <app-edit-snippet *ngFor="let replacement of review.replacements; let i = index; let first = first; let last = last"
    [index]="i" [pageText]="review.page.content" [replacement]="replacement" (fixed)="onFixed($event)"
    [limitLeft]="limitLeft(i)" [limitRight]="limitRight(i)" [hidden]="!displayReplacement(i)">
  </app-edit-snippet>

  <button type="button" class="btn btn-success w-100 mt-3 mb-3 py-3" [hidden]="fixedCount === 0"
    (click)="onSaveChanges()">
    Guardar cambios <span class="badge badge-light">{{ fixedCount }}</span>
  </button>

  <button type="button" class="btn btn-success w-100 mt-3 mb-3 py-3" [hidden]="fixedCount !== 0"
    (click)="onSaveNoChanges()">
    Marcar como revisado <span class="small">(sin cambios)</span>
  </button>

  <button type="button" class="btn btn-outline-success w-100 mb-3" (click)="onSkip()">
    <fa-icon [icon]="ffIcon"></fa-icon> Revisar después
  </button>

  <app-alert type="info" [icon]="false" class="alert-small" [hidden]="countOtherTypes === 0">
    <p *ngIf="countOtherTypes === 1" class="small">La página contiene {{ countOtherTypes }} reemplazo de otro tipo</p>
    <p *ngIf="countOtherTypes !== 1" class="small">La página contiene {{ countOtherTypes }} reemplazos de otros tipos
    </p>
    <button type="button" class="btn btn-info w-100" (click)="onReviewAllTypes()">
      Mostrar todos los reemplazos
    </button>
  </app-alert>

  <app-alert type="warning" [icon]="true" class="alert-small"
    *ngIf="review.options.kind === 1 && review.numPending && review.numPending > 50">
    <p>El reemplazo personalizado introducido tiene muchas ocurrencias. Se recomienda añadirlo a los <a
        href="https://es.wikipedia.org/wiki/Usuario:Benjavalero/Replacer#Tipos_de_reemplazos" target="_blank"
        rel="noopener noreferrer">listados generales</a> para un mantenimiento más óptimo.</p>
  </app-alert>
</div>
