<div *ngIf="replacements.length" class="container">
  <nav *ngIf="filteredType && filteredSubtype" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ filteredType }}</li>
      <ng-template [ngIf]="!suggestion">
        <li class="breadcrumb-item">{{ filteredSubtype }}
          &nbsp;<span class="badge badge-light"><span class="align-middle">{{ numPending }}</span></span>
        </li>
      </ng-template>
      <ng-template [ngIf]="suggestion">
        <li class="breadcrumb-item">{{ filteredSubtype }}</li>
        <li class="breadcrumb-item">{{ suggestion }}
          &nbsp;<span class="badge badge-light"><span class="align-middle">{{ numPending }}</span></span>
        </li>
      </ng-template>
    </ol>
  </nav>

  <h3>{{ title }}
    <a href="https://{{ lang || defaultLang }}.wikipedia.org/w/index.php?title={{ title }}&action=edit&section={{ section }}"
     target="_blank" class="small">[Editar en Wikipedia]</a>
  </h3>

  <app-edit-snippet *ngFor="let replacement of replacements" [text]="content" [start]="replacement.start"
    [word]="replacement.text" [suggestions]="replacement.suggestions" (fixed)="onFixed($event)">
  </app-edit-snippet>

  <button type="button" class="btn btn-success w-100 mt-3 mb-3 p-3" [disabled]="!fixedCount" (click)="onSaveChanges()">
    Guardar cambios <span class="badge badge-light">{{ fixedCount }}</span>
  </button>

  <button type="button" class="btn btn-success w-100 mb-3" (click)="onSaveNoChanges()">
    Marcar como revisado (sin guardar cambios)
  </button>

</div>
