<div *ngIf="kindCounts$ | async as typeCounts; else loading">
  <h3>Lista de reemplazos</h3>

  <p>
    Las siguientes listas muestran potenciales errores ortográficos y de estilo sin revisar, así como el número estimado
    de ocurrencias por tipo.
  </p>

  <app-replacement-table *ngFor="let typeCount of typeCounts" [kind]="typeCount.k" [replacementCounts]="typeCount.l">
  </app-replacement-table>
  <app-alert type="warning" *ngIf="typeCounts.length === 0">No se ha encontrado ningún artículo</app-alert>
</div>
<ng-template #loading>
  <app-alert>Cargando lista de reemplazos…</app-alert>
</ng-template>
