<div *ngIf="typeCounts$ | async as typeCounts; else loading">
  <h3>Lista de reemplazos</h3>

  <p>
    Las siguientes listas muestran potenciales errores ortográficos y de estilo sin revisar, así como el número estimado
    de páginas que los contienen.
  </p>
  <p>
    Los distintos reemplazos están agrupados según su tipo o complejidad.
  </p>

  <ngb-accordion [destroyOnHide]="false">
    <ngb-panel *ngFor="let typeCount of typeCounts">
      <ng-template ngbPanelHeader *ngIf="getKind(typeCount.k); let kind">
        <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0" title="{{ kind.description }}">
            {{ kind.label }}
            <span class="badge badge-light">{{ typeCount.l.length }}</span>
          </button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-replacement-table [type]="typeCount.k" [replacementCounts]="typeCount.l">
        </app-replacement-table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <app-alert type="warning" *ngIf="typeCounts.length === 0">No se ha encontrado ningún artículo</app-alert>
</div>
<ng-template #loading>
  <app-alert>Cargando lista de reemplazos…</app-alert>
</ng-template>
