<div class="modal-body">
  <p>Esta funcionalidad, solo disponible para bots, marca como revisados todos los reemplazos de cierto tipo, hayan sido
    corregidos o no, ya que pueden ser falsos positivos, asumiendo que han sido revisados usando otra herramienta ajena
    a Replacer.</p>

  <p>
    ¿Seguro que desea marcar como revisados todos los reemplazos de tipo
    <strong>{{ type }} - {{ subtype }}</strong>
    ?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">Aceptar</button>
</div>
