<h3>Estadísticas</h3>

<ul>
  <li>Reemplazos revisados: <strong>{{ numReviewed }}</strong></li>
  <li>Reemplazos sin revisar: <strong>{{ numNotReviewed }}</strong></li>
</ul>

<div *ngIf="numReviewedGrouped.length">
  <table class="table" aria-describedby="Lista de usuarios que han contribuido y su número de contribuciones">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of numReviewedGrouped">
        <td class="w-50">{{ item.reviewer }}</td>
        <td class="w-50">{{ item.count }}</td>
      </tr>
    </tbody>
  </table>
</div>
