<app-edit-page
  *ngIf="page && options"
  [page]="page"
  [options]="options"
  [numPending]="numPending"
  (saved)="onSaved($event)"></app-edit-page>

<app-alert type="warning" [icon]="true" class="alert-small" *ngIf="displayCustomWarning">
  <p>Se han encontrado <strong>{{ numPending }}</strong> ocurrencias del reemplazo personalizado «<strong>{{ options!.subtype }}</strong>».</p>
  <p>
    El propósito de los reemplazos personalizados es facilitar aquellas correcciones con pocas ocurrencias y que por
    tanto no figuran en los listados generales.
  </p>
  <p>
    La herramienta no permite la revisión de reemplazos personalizados con más de {{ maxCustomOccurrences }} ocurrencias,
    excepto a usuarios con permisos especiales como verificadores, reversores o bots.
  </p>
  <p>
    Si un reemplazo tiene muchas ocurrencias, por favor añádelo a los
    <a
      href="https://es.wikipedia.org/wiki/Usuario:Benjavalero/Replacer#Tipos_de_reemplazos"
      target="_blank"
      rel="noopener noreferrer">
      listados generales
    </a>
    para que pueda ser revisado por la comunidad. En unas horas se indexará y estará disponible en la aplicación.</p>
</app-alert>
